html{
	height: 100%;
}

body{
	position: relative;
	min-height: 100%;
	padding-bottom: 10rem;
}

section{
	margin-bottom: 0 !important;
}

.card{
	height: auto;
}

.card img{
	height: 250px;
	padding-top: 20px;
}

.btn{
	font-size: 12px;
}

.carousel-item img{
	height: 400px !important;
	width: 830px !important;
}

.control-icon{
	font-size: 20px;
}

.list-group-item a .active{
	background: #0d4b7a !important;
}

.card .card-body .list-group .list-group-item .rounded-circle{
	height: 100px !important;
	width: 100px;
	border-radius:50% !important;
	padding-top: 0;
}

.btn .badge {
	position: relative;
	top: -14px;
	font-size: 12px;
}

.hidden{
	display: none;
}

.carousel-item img{
	
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}